{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-block">{{ button_label|default(' Enregistrer ') }}</button>
<button class="btn btn-secondary form-button"><a href="{{ path('app_artwork_index') }}">Retour à la liste des oeuvres</a></button>
{{ form_end(form) }}
