{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-light btn-block">{{ button_label|default(' Enregistrer ') }}</button>
<a class="btn btn-secondary form-button form-link" href="{{ path('app_artwork_index') }} " aria-label="Go back to the artwork 's list" role="button">Retour à la liste des oeuvres</a>
{{ form_end(form) }}
