{% extends 'base.html.twig' %}

    {% block body %}

        <h2>Oeuvres : {{ category.name }}</h2>

        <div class="gallery-container">
        {% for artwork in artworks %}
            <div class="gallery">
                <img class=" image-artwork" alt="{{ artwork.description }}" src="{{ artwork.imageCover }}"> 
                <p>{{ artwork.title }}</br>
                {{ artwork.description }}</p>
                <button class="btn btn-secondary form-button"><a class="form-link" href="{{ path('app_artwork_show', {'id': artwork.id}) }} ">Découvrir</a></button>
            </div>      
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        <a href="{{ path('app_artwork_new') }}">Create new</a>
    {% endblock %}
