{% extends 'base.html.twig' %}

{% block title %}Page des oeuvres{% endblock %}

{% block body %}

<h2>Oeuvres</h2>

<div class="gallery-container">
    {% for artwork in artworks %} 
        <div class="gallery">
            <div class="gallery-image">
                <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">
                    <img class=" image-artwork" src="{{ vich_uploader_asset(artwork) }}" alt="{{ artwork.title }}"> 
                </a>
            </div>
                <a class="titre" href="{{ path('app_artwork_show', {'id': artwork.id}) }} ">{{ artwork.title }}</a>
        </div>
    {% else %}
       <p>no records found</p>
    {% endfor %}
    </div>

{% endblock %}
