{% extends 'base.html.twig' %}

{% block title %}Page des oeuvres{% endblock %}

{% block body %}

<h2>Oeuvres</h2>

<div class="gallery-container">
    {% for artwork in artworks %}
        <div class="gallery">
            <img class=" image-artwork" alt="{{ artwork.description }}" src="{{ artwork.imageCover }}"> 
                <p>{{ artwork.title }}</p>
                    <p>{{ artwork.description }}</p>
                        <button class="btn btn-secondary form-button">
                            <a class="form-link" href="{{ path('app_artwork_show', {'id': artwork.id}) }} ">Découvrir</a>
                        </button>
        </div>               
    {% else %}
       <p>no records found</p>
    {% endfor %}
    </div>
    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
