{% extends 'base.html.twig' %}

{% block title %}Liste des oeuvres{% endblock %}

{% block body %}
    {% for artwork in artworks %}

        <div id="card-artwork"> 
            <div class="box-artwork">
                <img class=" image-artwork" alt="{{ artwork.description }}" src="{{ artwork.imageCover }}"  > 
            </div>        
                <p>{{ artwork.title }}</br>
                {{ artwork.description }}</p>
                <button class="btn btn-secondary form-button"><a class="form-link" href="{{ path('app_artwork_show', {'id': artwork.id}) }} ">show</a></button>
            <button class="btn btn-secondary form-button"><a class="form-link" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a></button>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
       
    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
