{% extends 'base.html.twig' %}

{% block title %}Page des oeuvres
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success flash-message">
			{{ message }}
		</div>
	{% endfor %}
	<h2>Oeuvres</h2>

	<div id="card-area-categories">
		<div class="wrapper">
			<div class="box-area">
				{% for artwork in artworks %}
					<div class="artworks-list">
						<img class="image" src="{{ vich_uploader_asset(artwork) | imagine_filter('toto') }}" alt="{{ artwork.title }}" loading="lazy">
						<div class="overlay">
							<h3>{{ artwork.title }}</h3>
							<a class="btn btn-secondary form-button form-link artwork-descovery" href="{{ path('app_artwork_show', {'id': artwork.id}) }} " role="button">Découvrir</a>
						</div>
					</div>
				{% else %}
					<p>no records found</p>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
