{% extends 'base.html.twig' %}

{% block title %}Artwork index{% endblock %}

{% block body %}
    <h1>Artwork index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Create_at</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Technique</th>
                <th>Image_cover</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.id }}</td>
                <td>{{ artwork.title }}</td>
                <td>{{ artwork.createdAt ? artwork.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ artwork.height }}</td>
                <td>{{ artwork.weight }}</td>
                <td>{{ artwork.technique }}</td>
                <td>{{ artwork.imageCover }}</td>
                <td>{{ artwork.description }}</td>
                <td>
                    <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">show</a>
                    <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
