{% extends 'base.html.twig' %}

{% block title %}Liste des oeuvres{% endblock %}

{% block body %}
    <h1>Liste des oeuvres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Créer le</th>
                <th>Hauteur</th>
                <th>Largeur</th>
                <th>Technique</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.id }}</td>
                <td>{{ artwork.title }}</td>
                <td>{{ artwork.createdAt ? artwork.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ artwork.height }}</td>
                <td>{{ artwork.weight }}</td>
                <td>{{ artwork.technique }}</td>
                <td>{{ artwork.imageCover }}</td>
                <td>{{ artwork.description }}</td>
                <td>
                <button class="btn btn-secondary form-button"><a class="form-link" href="{{ path('app_artwork_show', {'id': artwork.id}) }} ">show</a></button>
            <button class="btn btn-secondary form-button"><a class="form-link" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artwork_new') }}">Create new</a>
{% endblock %}
