{% extends 'base.html.twig' %}

{% block head %}
	<head>
		<meta name="Artwork" content="Œuvre d'art mise en valeur avec tous ses détails et informations">
		<title>
			{% block title %}
				Oeuvres
			{% endblock %}
		</title>
	</head>
{% endblock %}
{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success flash-message">
			{{ message }}
			{{ user.name }}
		</div>

	{% endfor %}

	<div class="box-area artwork-show">
		<div class="box-artwork">
			<img class="image" id="my_image" src="{{ vich_uploader_asset(artwork) }}" alt="{{ artwork.title }}" loading="lazy">
		</div>

	<div class="box-right">
		<div class="box-describ">
			<h5>"{{ artwork.title }}"</h5>
			<div class="user-image">
				<div class="art-details">
					<p>
						{{ user.name }}
					</p>
					<p>
						{{ artwork.technique }}
					</p>
					<p>{{ artwork.height }}
						cm X
						{{ artwork.width }}
						cm</p>
					<p>
						{{ artwork.createdAt ? artwork.createdAt|date('d-m-Y') : '' }}
					</p>

				</div>
				<a href="{{ path('app_user_show', {'id': user.id}) }}" aria-label="Voir le profil de {{ user.name }}">
					<img class="artwork-user" src="{{ vich_uploader_asset(user) }}" alt="{{ user.picture }}" loading="lazy">
				</a>
			</div>
			<p>{{ artwork.description }}</p>
		</div>

		<div id="slider-container" class="slideur">
			{% for userArtwork in artworks %}
				{% if userArtwork != artwork %}
					<div class="slid">
						<a href="{{ path('app_artwork_show', {'id': userArtwork.id}) }} ">
							<img src="{{ vich_uploader_asset(userArtwork) }}" alt="{{ userArtwork.title }}" loading="lazy">
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		{% if is_granted("ROLE_ADMIN") or (app.user and app.user == artwork.user) %}
			<div class="show-footer">
				<a class="btn btn-light artwork-descovery" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}" aria-label="Editer l\'oeuvre">Editer</a>
				{{ include('artwork/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>
</div>{% endblock %}
