{% extends 'base.html.twig' %}


{% block head %}
	<head>
		<meta name="Artwork" content="Highlighted Artwork with all his functional details">
		<title>
			{% block title %}
				Oeuvres
			{% endblock %}
		</title>
	</head>
{% endblock %}
{% block body %}

	<div class="box-area">
		<div class="box-artwork img-magnifier-container">
			<img class="image" id="my_image" src="{{ vich_uploader_asset(artwork) }}" alt="{{ artwork.title }}" loading="lazy">
		</div>

		<div class="box-right">
			<div class="box-describ">
				<h1>{{ artwork.title }}</h1>
				<div class="user-image">
					<div class="art-details">
						<h5>
							<i>Technique:
								{{ artwork.technique }}</i>
						</h5>
						<h5>{{ artwork.height }}
							cm X
							{{ artwork.weight }}
							cm</h5>
						<h5>
							Crée le:
							{{ artwork.createdAt ? artwork.createdAt|date('d-m-Y') : '' }}</h5>
					</div>
					<img class="artwork-user" src="{{ asset('build/images/emilie.webp') }}" alt="Photo de l'artiste" loading="lazy">
				</div>
				<p>{{ artwork.description }}</p>
			</div>

			<div class="mini-slides">
				{% if artworks[0] is defined %}
					<div class="slide slide">
						<img src="{{ vich_uploader_asset(artworks[0]) }}" alt="{{ artworks[0].title }}" loading="lazy">
					</div>
				{% endif %}
				{% if artworks[1] is defined %}
					<div class="slide slide-2">
						<img src="{{ vich_uploader_asset(artworks[1]) }}" alt="{{ artworks[1].title }}" loading="lazy">
					</div>
				{% endif %}
				{% if artworks[2] is defined %}
					<div class="slide slide-3">
						<img src="{{ vich_uploader_asset(artworks[2]) }}" alt="{{ artworks[2].title }}" loading="lazy">
					</div>
				{% endif %}	
			</div>
			{% if is_granted("ROLE_ADMIN") or (app.user and app.user == artwork.user) %}
				<div class="show-footer">
					<a class="btn btn-primary artwork-descovery" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}" aria-label="Editer l\'oeuvre">Editer</a>
					{{ include('artwork/_delete_form.html.twig') }}
				</div>
			{% endif %}
		</div>

	</div>

{% endblock %}
