{% extends 'base.html.twig' %}

{% block title %}Artwork{% endblock %}

{% block body %}
    <h1>Artwork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artwork.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ artwork.title }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ artwork.createdAt ? artwork.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ artwork.height }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ artwork.weight }}</td>
            </tr>
            <tr>
                <th>Technique</th>
                <td>{{ artwork.technique }}</td>
            </tr>
            <tr>
                <th>Image_cover</th>
                <td>{{ artwork.imageCover }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artwork.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_artwork_index') }}">back to list</a>

    <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">edit</a>

    {{ include('artwork/_delete_form.html.twig') }}
{% endblock %}
