<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" aria-label="Our website logo who will send you back to our homepage" href="/">
			<img src=" {{ asset('build/images/logo-eclat.png')}} " alt="" class="logo_nav">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="link" aria-label="Click here to go to see all our Artists" href="/user">Artistes</a>
				</li>
				<li class="nav-item">
					<a class="link" aria-label="Click here to see all our Categories" href="/#card-area-categories">Catégories</a>
				</li>
				<li class="nav-item">
					<a class="link" aria-label="Click here to see all our Artworks" href="/artwork/">Oeuvres</a>
				</li>
				<li class="nav-item">
					<a class="link" aria-label="Click here to learn more about us" href="/#about-us">A Propos</a>
				</li>
			</ul>
			{% if is_granted("ROLE_USER") %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a href="{{ path('app_artwork_new') }}">Ajouter une oeuvre</a>
					</li>
				</ul>
				{%endif%}
				{% if app.user %}
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="{{ path('app_user_show', {'id': app.user.id}) }}">Mon compte</a>
						</li>
					</ul>
					{%endif%}
					<div>
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								{% if app.user %}
									{{ app.user.name }}
									<a href="{{ path('app_logout') }}">&ensp;Se déconnecter</a>
								{% else %}
									<ul class="register">
										<li class="nav-item">
											<a href="{{ path('register') }}">
												S'inscrire</a>
										</li>
										<li class="nav-item">
											<a href="{{ path('login') }}">
												Se connecter</a>
										</li>
									</ul>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
