{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success flash-message">
			{{ message }}
		</div>
	{% endfor %}
	<h1>Artistes</h1>

	<div id="card-area-categories">
		<div class="wrapper">
			<div class="box-area">
				{% for user in users %}
					<div class="box">
						<img class=" image" src="{{ vich_uploader_asset(user) }}" alt="{{ user.picture }}" loading="lazy">
						<div class="overlay">
							<h3>{{ user.name }}</h3>
							<a class="btn btn-secondary form-button form-link" href="{{ path('app_user_show', {'id': user.id}) }}" role="button">Découvrir</a>
						</div>
					</div>
				{% else %}
					<p>no records found</p>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
