{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
	<div class="alert alert-success flash-message">
		{{ message }} {{ artist.name }}
	</div>
	
{% endfor %}

	<div class="title-page-artiste">
		<h1>{{ artist.name }}</h1>
	</div>

	<div class="profile-container">
		<div class="info">
            <section class="text">
                <h4>{{ artist.nationality }}</h4>
                <h4>Description :</h4>
                <p class="description">{{ artist.description }}</p>
            </section>
            <div class="image-container">
                <img class="image-artwork-mini" src="{{ vich_uploader_asset(artist) }}" alt="{{ artist.picture }}" loading="lazy">
                {% if artist.instagram or artist.facebook or artist.twitter or artist.pinterest %}
                    <div class="social-links">
                        {% if artist.instagram %}
                            <a href="{{ artist.instagram }}">
                                <i class="fa-brands fa-instagram" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i>
                            </a>
                        {% endif %}
                        {% if artist.facebook %}
                            <a href="{{ artist.facebook }}">
                                <i class="fa-brands fa-facebook" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i>
                            </a>
                        {% endif %}
                        {% if artist.twitter %}
                            <a href="{{ artist.twitter }}">
                                <i class="fa-brands fa-x-twitter" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i>
                            </a>
                        {% endif %}
                        {% if artist.pinterest %}
                            <a href="{{ artist.pinterest }}">
                                <i class="fa-brands fa-pinterest" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
		</div>
	</div>
	<div class="button-user">
		{% if is_granted("ROLE_ADMIN") or (app.user and app.user.id == artist.id) %}
			<div class="show-footer">
				<a class="btn btn-light artwork-descovery" href="{{ path('app_user_edit', {'id': artist.id}) }}" aria-label="Editer l\'oeuvre">Editer</a>
				{{ include('user/_delete_form.html.twig') }}
			</div>
		{% endif %}
	</div>
	<div class="title-artiste">
		{% if (app.user and app.user.id == artist.id) %}
			<h2>Mes oeuvres</h2>
		{% else %}
			<h2>Retrouver l'ensemble des oeuvres de {{ artist.name }}</h2>
		{% endif %}
	</div>
	<div id="card-area-categories">
		<div class="wrapper">
			<div class="box-area">
				{% for artwork in artworks %}
					<div class="box">
						<img class="image" src="{{ vich_uploader_asset(artwork) }}" alt="{{ artwork.title }}" loading="lazy">
						<div class="overlay">
							<h3>{{ artwork.title }}</h3>
							<a class="btn btn-secondary form-button form-link artwork-descovery;" href="{{ path('app_artwork_show', {'id': artwork.id}) }} " role="button">Découvrir</a>
						</div>
					</div>
				{% else %}
					<div class="notFound ">{{ artist.name }} n'a pas encore d'autres oeuvres à consulter</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
