{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="title-page-artiste">
		<h1>{{ user.name }}</h1>
	</div>

	<div class="profile-container">
		<div class="info">
			<h3>{{ user.name }}</h3>
			<h4>{{ user.nationality }}</h4>
			<h4>Description :</h4>
			<p>{{ user.description }}</p>
		</div>
		<div class="image-container">
			<img class="image-artwork-mini" src="{{ vich_uploader_asset(user) }}" alt="{{ user.picture }}" loading="lazy">
			<div class="social-links">
				<a href="http://www.instagram.com/" ><i class="fa-brands fa-instagram" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i></a>
				<a href="http://www.facebook.com/" ><i class="fa-brands fa-facebook" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i></a>
				<a href="http://www.x.com/" ><i class="fa-brands fa-x-twitter" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i></a>
				<a href="http://www.pinterest.com/" ><i class="fa-brands fa-pinterest" style="color: #000000; font-size: 1.8rem; margin-right: 1rem;"></i></a>
			</div>
		</div>
	</div>
	<div class="button-user">
	{% if is_granted("ROLE_ADMIN") or (app.user and app.user == user.id) %}
				<div class="show-footer">
					<a class="btn btn-primary artwork-descovery" href="{{ path('app_user_edit', {'id': user.id}) }}" aria-label="Editer l\'oeuvre">Editer</a>
					{{ include('user/_delete_form.html.twig') }}
				</div>
			{% endif %}
</div>
	<div class="title-artiste">
		<h2>Retrouver d'autres oeuvres de
			{{ user.name }}</h2>
	</div>

	<div id="card-area-categories">
		<div class="wrapper">
			<div class="box-area">
				{% for artwork in artworks %}
					<div class="box">
						<img class="image" src="{{ vich_uploader_asset(artwork) }}" alt="{{ artwork.title }}" loading="lazy">
						<div class="overlay">
							<h3>{{ artwork.title }}</h3>
							<a class="btn btn-secondary form-button form-link artwork-descovery" href="{{ path('app_artwork_show', {'id': artwork.id}) }} " role="button">Découvrir</a>
						</div>
					</div>
				{% else %}
					<p>no records found</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
